body {
    font-family: 'Donegal One', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

h1 {
    font-size: 2em;
    color: #E82C0C;
}

h2 {
    font-size: 1.3em;
    color: #009B58;
}

.wrapper {
    margin: 0 auto;
    max-width: 800px;
    padding: 40px 40px;
}

.source {
    text-align: right;
}

a {
    color: #E82C0C;
    text-decoration: none;
    font-style: italic;
}
